<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="alien1" class="com.maarcus.Alien" scope="prototype" />

  <bean id="alien2" class="com.maarcus.Alien">
    <property name="age" value="21" />
    <property name="computer" ref="laptop1" />
  </bean>

  <!-- with sequence -->
  <bean id="alien3" class="com.maarcus.Alien">
    <constructor-arg value="21" />
    <constructor-arg ref="laptop2" />
  </bean>

  <!-- without sequence -->
  <bean id="alien4" class="com.maarcus.Alien">
    <constructor-arg type="com.maarcus.Computer" ref="laptop2" />
    <constructor-arg type="int" value="21" />
  </bean>

  <!-- with index -->
  <bean id="alien5" class="com.maarcus.Alien">
    <constructor-arg index="0" value="21" />
    <constructor-arg index="1" ref="laptop2" />
  </bean>

  <bean id="laptop1" class="com.maarcus.Laptop" primary="true" />
  <bean id="laptop2" class="com.maarcus.Laptop" />
</beans>